{% extends 'base.html' %}

{% block page %}
    Faq
{% endblock page %}
{% block page1 %}
    Faq
{% endblock page1 %}

{% block content %}
    <div class="page-faq u-s-p-t-80">
        <div class="container">
            <div class="faq u-s-m-b-50">
                <h1>FREQUENTLY QUESTION(S)</h1>
                <h1>Below are frequently asked questions, you may find the answer for yourself.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id erat sagittis, faucibus metus malesuada, eleifend turpis. Mauris semper augue id nisl aliquet, a porta lectus mattis. Nulla at tortor augue. In eget enim diam. Donec gravida tortor sem, ac fermentum nibh rutrum sit amet. Nulla convallis mauris vitae congue consequat. Donec interdum nunc purus, vitae vulputate arcu fringilla quis. Vivamus iaculis euismod dui.</p>
            </div>
            <div class="u-s-m-b-50">
                
                {% for faq in faqs %}
                    <div class="f-a-q u-s-m-b-30">
                        <a data-toggle="collapse" href="#faq-{{faq.id}}">{{faq.question}}</a>
                        <div class="collapse show" id="faq-{{faq.id}}">
                            <p>
                                {{faq.answer}}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
{% endblock content %}