{% load category_tags %}
{% load product_filters %}

<div class="item" id="enhanced-product-card">
    <div class="image-container">
        <a class="item-img-wrapper-link" href="{% url 'product_detail' item.id %}">
            {% if item.prod_img %}
            <img class="img-fluid" src="{{ item.prod_img.url }}" alt="{{ item.title }}">
            {% else %}
            <img class="img-fluid" src="/static/images/default-product.jpg" alt="{{ item.title }}">
            {% endif %}
        </a>
        <div class="item-action-behaviors">
            <a class="item-quick-look" data-toggle="modal" href="#quick-view" data-product-id="{{ item.id }}">
                Quick Look
            </a>
            <a class="item-mail" href="mailto:?subject={{ item.title|urlencode }}">Mail</a>
            <a class="item-addwishlist" href="javascript:void(0)" data-product-id="{{ item.id }}">
                Add to Wishlist
            </a>
            <a class="item-addCart" href="javascript:void(0)" data-product-id="{{ item.id }}">
                Add to Cart
            </a>
        </div>
    </div>

    <div class="item-content">
        <div class="what-product-is">
            {% if item.category %}
            <ul class="bread-crumb">
                <li class="has-separator">
                    <a href="{% url 'product_by_pcategory' item.category.parent_category.slug %}">
                        {{ item.category.parent_category.parent_name }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'product_by_category' item.category.slug %}">
                        {{ item.category.category_name }}
                    </a>
                </li>
            </ul>
            {% endif %}

            <h6 class="item-title">
                <a href="{% url 'product_detail' item.id %}">{{ item.title }}</a>
            </h6>

            {% if item.rating > 0 %}
            <div class="item-stars">
                <div class='star' title="{{ item.rating }} out of 5">
                    <span style='width:{{ item.rating|mul:20 }}%'></span>
                </div>
                <span>({{ item.rating }})</span>
            </div>
            {% endif %}
        </div>

        <div class="price-template">
            {% if item.discount > 0 %}
            <div class="item-new-price">
                {{ item.current_selling_price|format_price }}
            </div>
            <div class="item-old-price">
                {% if item.has_variants %}
                {{ item.price|format_price }}
                {% else %}
                {{ item.price|format_price }}
                {% endif %}
            </div>
            {% else %}
            <div class="item-new-price">
                {{ item.display_price }}
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Dynamic tags -->
    {% if item.discount > 0 %}
    <div class="tag sale">
        <span>-{{ item.discount|floatformat:0 }}%</span>
    </div>
    {% elif item.featured %}
    <div class="tag featured">
        <span>FEATURED</span>
    </div>
    {% endif %}
</div>