<div class="tab-pane fade" id="review">
    <div class="review-whole-container">
        <div class="row r-1 u-s-m-b-26 u-s-p-b-22">
            <div class="col-lg-6 col-md-6">
                <div class="total-score-wrapper">
                    <h6 class="review-h6">Average Rating</h6>
                    <div class="circle-wrapper">
                        <h1>{{average_rating}}</h1>
                    </div>
                    <h6 class="review-h6">Based on {{reviews | length}} Review{{ reviews|pluralize }}</h6>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="total-star-meter">
                    <div class="star-wrapper">
                        <span>5 Stars</span>
                        <div class="star">
                            <span style="width: 0"></span>
                        </div>
                        <span>(0)</span>
                    </div>
                    <div class="star-wrapper">
                        <span>4 Stars</span>
                        <div class="star">
                            <span style="width: 67px"></span>
                        </div>
                        <span>(23)</span>
                    </div>
                    <div class="star-wrapper">
                        <span>3 Stars</span>
                        <div class="star">
                            <span style="width: 0"></span>
                        </div>
                        <span>(0)</span>
                    </div>
                    <div class="star-wrapper">
                        <span>2 Stars</span>
                        <div class="star">
                            <span style="width: 0"></span>
                        </div>
                        <span>(0)</span>
                    </div>
                    <div class="star-wrapper">
                        <span>1 Star</span>
                        <div class="star">
                            <span style="width: 0"></span>
                        </div>
                        <span>(0)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row r-2 u-s-m-b-26 u-s-p-b-22">
            <div class="col-lg-12">
                <div class="your-rating-wrapper">
                    <h6 class="review-h6">Your Review is matter.</h6>
                    <h6 class="review-h6">
                        Have you used this product before?
                    </h6>
                    <form action="{% url 'add_review' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="star-wrapper u-s-m-b-8">
                            <div class="star">
                                <span id="your-stars" style="width: 0"></span>
                            </div>
                            <label for="your-rating-value"></label>
                            <input id="your-rating-value" type="text" name="rating" class="text-field"
                                placeholder="0.0" />
                            <span id="star-comment"></span>
                        </div>

                        {% if user.is_authenticated %}
                        {% else %}


                        <label for="your-name">Name
                            <span class="astk"> *</span>
                        </label>
                        <input id="your-name" name="name" type="text" class="text-field" placeholder="Your Name" />
                        <label for="your-email">Email
                            <span class="astk"> *</span>
                        </label>
                        <input id="your-email" type="text" name="email" class="text-field" placeholder="Your Email" />
                        {% endif %}
                        <label for="review-title">Review Title
                            <span class="astk"> *</span>
                        </label>
                        <input id="review-title" type="text" name="review_title" class="text-field"
                            placeholder="Review Title" />
                        <label for="review-text-area">Review
                            <span class="astk"> *</span>
                        </label>
                        <textarea class="text-area u-s-m-b-8" id="review-text-area" name="review"
                            placeholder="Review"></textarea>
                        <button class="button button-outline-secondary">
                            Submit Review
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Get-Reviews -->
        <div class="get-reviews u-s-p-b-22">
            <!-- Review-Options -->
            <div class="review-options u-s-m-b-16">
                <div class="review-option-heading">
                    <h6>
                        Reviews
                        <span> ({{reviews|length}}) </span>
                    </h6>
                </div>
                <div class="review-option-box">
                    <div class="select-box-wrapper">
                        <label class="sr-only" for="review-sort">Review Sorter</label>
                        <select class="select-box" id="review-sort">
                            <option value="">Sort by: Best Rating</option>
                            <option value="">Sort by: Worst Rating</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Review-Options /- -->
            <!-- All-Reviews -->
            <div class="reviewers">

                {% for review in reviews %}

                <div class="review-data">
                    <div class="reviewer-name-and-date">
                        <h6 class="reviewer-name">{{review.name}}</h6>
                        <h6 class="review-posted-date">{{review.created_at}}</h6>
                    </div>
                    <div class="reviewer-stars-title-body">
                        <div class="reviewer-stars">
                            <div class="star">
                                <span style="width: {{review.rating_percentage}}px"></span>
                            </div>
                            <span class="review-title">{{review.review_title}}</span>
                        </div>
                        <p class="review-body">{{review.review}}</p>
                    </div>

                </div>
                {% endfor %}
            </div>
            <!-- All-Reviews /- -->
            <!-- Pagination-Review -->
            <div class="pagination-review-area">
                <div class="pagination-review-number">
                    <ul>
                        <li style="display: none">
                            <a href="single-product.html" title="Previous">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href="single-product.html">1</a>
                        </li>
                        <li>
                            <a href="single-product.html">2</a>
                        </li>
                        <li>
                            <a href="single-product.html">3</a>
                        </li>
                        <li>
                            <a href="single-product.html">...</a>
                        </li>
                        <li>
                            <a href="single-product.html">10</a>
                        </li>
                        <li>
                            <a href="single-product.html" title="Next">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Pagination-Review /- -->
        </div>
        <!-- Get-Reviews /- -->
    </div>
</div>