<div class="tab-pane fade" id="specification">
    <div class="specification-whole-container">
        <div class="spec-ul u-s-m-b-50">
            <h4 class="spec-heading">Key Features</h4>
            <ul>
                <li>Heather Grey</li>
                <li>Black</li>
                <li>White</li>
            </ul>
        </div>
        <div class="u-s-m-b-50">
            <h4 class="spec-heading">What's in the Box?</h4>
            <h3 class="spec-answer">1 x hoodie</h3>
        </div>
        <div class="spec-table u-s-m-b-50">
            <h4 class="spec-heading">General Information</h4>
            <table>
                <tr>
                    <td>Sku</td>
                    <td>AY536FA08JT86NAFAMZ</td>
                </tr>
            </table>
        </div>
        <div class="spec-table u-s-m-b-50">
            <h4 class="spec-heading">Product Information</h4>
            <table>
                <tr>
                    <td>Main Material</td>
                    <td>Cotton</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>Heather Grey, Black, White</td>
                </tr>
                <tr>
                    <td>Sleeves</td>
                    <td>Long Sleeve</td>
                </tr>
                <tr>
                    <td>Top Fit</td>
                    <td>Regular</td>
                </tr>
                <tr>
                    <td>Print</td>
                    <td>Not Printed</td>
                </tr>
                <tr>
                    <td>Neck</td>
                    <td>Round Neck</td>
                </tr>
                <tr>
                    <td>Pieces Count</td>
                    <td>1 piece</td>
                </tr>
                <tr>
                    <td>Occasion</td>
                    <td>Casual</td>
                </tr>
                <tr>
                    <td>Shipping Weight (kg)</td>
                    <td>0.5</td>
                </tr>
            </table>
        </div>
    </div>
</div>