{% extends 'layout.html' %} {% block body %}

<div class="container m-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Safaricom STK Push</h1>
      <form action="{% url 'initiate' 4 %}" method="post" class="form">
        {% csrf_token %}
        <label for="phone">Phone Number:</label><br />
        <input
          class="form-control"
          type="text"
          id="phone"
          name="phone"
          value="254"
          required
        /><br />
        <label for="amount">Amount:</label><br />
        <input
          class="form-control"
          type="number"
          id="amount"
          name="amount"
          placeholder="Amount"
          required
        /><br />
        <button class="btn btn-success" type="submit">Pay Now</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
