{% extends 'base.html' %}
{% block page %}
Blogs
{% endblock %}
{% block page1 %}
Blogs
{% endblock %}
{% block content %}
<div class="page-blog u-s-p-t-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <!-- Blog-Posts -->

                {% for blog in blogs %}
                <div class="blog-post u-s-m-b-80">
                    <div class="blog-post-wrapper u-s-m-b-26">
                        <a class="blog-post-anchor" href="{% url 'blog-detail' blog.slug %}">
                            <img class="img-fluid" src="{{blog.image.url}}" alt="Blog post 1">
                        </a>
                    </div>
                    <h1 class="blog-post-heading u-s-m-b-13">
                        <a href="{% url 'blog-detail' blog.slug %}">{{blog.title}}</a>
                    </h1>
                    <div class="blog-post-info u-s-m-b-13">
                        <span class="blog-post-preposition">By</span>
                        <a class="blog-post-author-name" href="{% url 'blog-detail' blog.slug %}">{{blog.author}}</a>
                        <span class="blog-post-info-separator">/</span>
                        <a class="blog-post-comment" href="{% url 'blog-detail' blog.slug %}">Comments (6)</a>
                        <span class="blog-post-info-separator">/</span>
                        <span class="blog-post-published-date">
                            <span>{{ blog.date_posted|date:"d" }}</span>/
                            <span>{{ blog.date_posted|date:"m" }}</span>/
                            <span>{{ blog.date_posted|date:"Y" }}</span>
                        </span>
                    </div>
                    <p class="blog-post-paragraph u-s-m-b-16">
                        <!-- {{ blog.content|truncatewords:70 }} -->
                        {{ blog.content|slice:":450" }}
                    </p>
                    <a href="{% url 'blog-detail' blog.slug %}" class="blog-post-read-more">Read More</a>
                </div>
                {% endfor %}

                <!-- Blog-Posts /- -->
                <!-- Blog-Posts-Pagination -->
                <div class="blog-pagination u-s-m-b-80">
                    <ul class="blog-pg-list">
                        <li>
                            <a href="blog.html" class="bl-pg-link d-none">Back</a>
                        </li>
                        <li>
                            <a href="blog.html" class="bl-pg-link bl-pg-link-hover-a bl-pg-link-is-active">1</a>
                        </li>
                        <li>
                            <a href="blog.html" class="bl-pg-link bl-pg-link-hover-a">2</a>
                        </li>
                        <li>
                            <a href="blog.html" class="bl-pg-link bl-pg-link-hover-a">3</a>
                        </li>
                        <li>
                            <a href="blog.html" class="bl-pg-link bl-pg-link-hover-gap">......</a>
                        </li>
                        <li>
                            <a href="blog.html" class="bl-pg-link bl-pg-link-hover-a">4</a>
                        </li>
                        <li>
                            <a href="blog.html" class="bl-pg-link bl-pg-link-hover-b">Previous</a>
                        </li>
                    </ul>
                </div>
                <!-- Blog-Posts-Pagination /- -->
            </div>
            <div class="col-lg-3 col-md-3">
                <!-- Blog-Sidebar-Search -->
                <div class="bl-sidebar-widget u-s-m-b-50">
                    <h3 class="bl-sidebar-title-h3 u-s-m-b-20">Search</h3>
                    <form class="group-text-blog-search">
                        <label class="sr-only" for="blog-search">Search On Blog</label>
                        <input type="text" id="blog-search" class="text-field" placeholder="Type to search">
                        <button type="submit" class="button fas fa-search"></button>
                    </form>
                </div>
                <!-- Blog-Sidebar-Search /- -->
                <!-- Blog-Sidebar-Category -->
                <div class="bl-sidebar u-s-m-b-50">
                    <h3 class="bl-sidebar-title-h3 u-s-m-b-20">Categories</h3>
                    <ul class="bl-sidebar-list">

                        {% for ctry in b_categories %}
                        <li>
                            <a href="{% url 'blogs_by_category' ctry.category %}">{{ctry.category}}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <!-- Blog-Sidebar-Category /- -->
                <!-- Blog-Sidebar-Recent-Post -->
                <div class="bl-sidebar u-s-m-b-50">
                    <h3 class="bl-sidebar-title-h3 u-s-m-b-20">Recent Post</h3>
                    {% for blog in blogs %}
                    <div class="recent-post u-s-m-b-18">
                        <div class="recent-post-image">
                            <a class="" href="{% url 'blog-detail' blog.slug %}">
                                <img src="{{blog.image.url}}" alt="recent post 1">
                            </a>
                        </div>
                        <div class="recent-post-info">
                            <a class="" href="{% url 'blog-detail' blog.slug %}">{{blog.title}}</a>
                            <span class="recent-post-date">
                                <span>{{ blog.date_posted|date:"d" }}</span>/
                                <span>{{ blog.date_posted|date:"m" }}</span>/
                                <span>{{ blog.date_posted|date:"Y" }}</span>
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Blog-Sidebar-Recent-Post /- -->
                <!-- Blog-Sidebar-Tag -->
                <div class="bl-sidebar u-s-m-b-50">
                    <h3 class="bl-sidebar-title-h3 u-s-m-b-20">Tags</h3>
                    <a href="" class="bl-tag u-s-m-b-8">Life</a>
                    <a href="" class="bl-tag u-s-m-b-8">Creative</a>
                    <a href="" class="bl-tag u-s-m-b-8">Ui/Ux</a>
                    <a href="" class="bl-tag u-s-m-b-8">Design</a>
                    <a href="" class="bl-tag u-s-m-b-8">Branding</a>
                    <a href="" class="bl-tag u-s-m-b-8">World</a>
                    <a href="" class="bl-tag u-s-m-b-8">Print</a>
                </div>
                <!-- Blog-Sidebar-Tag /- -->
            </div>
        </div>
    </div>
</div>
{% endblock %}