{% extends 'base.html' %}
{% block page %}
Shop
{% endblock %}
{% block page1 %}
Shop
{% endblock %}

{% block content %}
    <div class="page-shop u-s-p-t-80">
        <div class="container">
            <!-- Result-Wrapper -->
            <div class="result-wrapper u-s-p-y-80">
                <ul class="bread-crumb">
                    <li class="has-separator">
                        <a href="/">Home</a>
                    </li>
                    <li class="is-marked">
                        <a href="{% url 'store' %}">All Categories</a>
                    </li>
                </ul>
                <h4>Your search, did not match any products. A partial match of your keywords is listed below.</h4>
                <h4>Related searches:
                    <!-- <a href="shop-v1-root-category.html">men's clothing</a> ,
                    <a href="shop-v1-root-category.html">mobiles & tablets</a> ,
                    <a href="shop-v1-root-category.html">books & audible</a> -->
                </h4>
                <h1>SORRY</h1>
                <form method="get" action="{% url 'search_products' %}">
                    <label class="sr-only" for="search-not-found">Enter Keywords</label>
                    <input type="text" name="query" class="text-field" id="search-not-found" placeholder="Search Products...">
                    <button class="button">Search</button>
                </form>
            </div>
            <!-- Result-Wrapper /- -->
        </div>
    </div>
{% endblock content %}
    