{% extends 'base.html' %}
{% block page %}
Directory
{% endblock %}
{% block page1 %}
Directory
{% endblock %}
{% block content %}
    <div class="page-directory u-s-p-t-80">
        <div class="container">
            <!-- Men's Clothing Directory Wrapper  -->
            {% for parent in parent_categories %}
            <div class="directory-wrapper">
                <h2>
                    <a href="{% url 'product_by_pcategory' parent.slug %}">{{parent.parent_name}}</a>
                </h2>
                <div class="row">
                    {% for category in parent.category_set.all %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="{% url 'product_by_category' category.slug %}" class="">{{category.category_name}}</a>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <!-- Men's Clothing Directory Wrapper /-  -->
            <!-- Women's Clothing Directory Wrapper  -->
            <!-- <div class="directory-wrapper">
                <h2>
                    <a href="shop-v1-root-category.html">Women's Clothing</a>
                </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Tops</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Dresses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Blouses & Shirts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">T-shirts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Sweater</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Intimates</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Bras</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Brief Sets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Bustiers & Corsets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Panties</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Wedding & Events</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Wedding Dresses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Evening Dresses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Prom Dresses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Flower Dresses</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Bottoms</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Skirts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Shorts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Leggings</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Jeans</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Outwear & Jackets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Blazers</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Basics Jackets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Trench</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Leather & Suede</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Accessories</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Sunglasses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Headwear</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Baseball Caps</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Belts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            
        </div>
    </div>
{% endblock %}