{% extends 'base.html' %}
{% block page %}
Directory
{% endblock %}
{% block page1 %}
Directory
{% endblock %}
{% block content %}
    <div class="page-directory u-s-p-t-80">
        <div class="container">
            <!-- Men's Clothing Directory Wrapper  -->
            <div class="directory-wrapper">
                <h2>
                    <a href="shop-v1-root-category.html">Men's Clothing</a>
                </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main" href="shop-v2-sub-category.html">Tops</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">T-Shirts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Hoodies</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Suits</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">Black Bean T-Shirt</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Outwear</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Jackets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Trench</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Parkas</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Sweaters</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Accessories</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Watches</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Ties</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Scarves</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Belts</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Bottoms</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Casual Pants</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Shoes</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Jeans</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Shorts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Underwear</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Boxers</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Briefs</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Robes</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Socks</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Sunglasses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Pilot</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Wayfarer</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Square</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Round</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Men's Clothing Directory Wrapper /-  -->
            <!-- Women's Clothing Directory Wrapper  -->
            <div class="directory-wrapper">
                <h2>
                    <a href="shop-v1-root-category.html">Women's Clothing</a>
                </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Tops</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Dresses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Blouses & Shirts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">T-shirts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Sweater</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Intimates</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Bras</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Brief Sets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Bustiers & Corsets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Panties</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Wedding & Events</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Wedding Dresses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Evening Dresses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Prom Dresses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Flower Dresses</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Bottoms</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Skirts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Shorts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Leggings</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Jeans</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Outwear & Jackets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Blazers</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Basics Jackets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Trench</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Leather & Suede</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Accessories</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Sunglasses</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Headwear</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Baseball Caps</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Belts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Women's Clothing Directory Wrapper /-  -->
            <!-- Toys Hobbies & Robots  -->
            <div class="directory-wrapper">
                <h2>
                    <a href="shop-v1-root-category.html">RC Toys & Hobbies</a>
                </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">RC Toys & Hobbies</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Helicopter</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Drone</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Quadcopters</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Airplane</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Car</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Boat</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Multi Rotor Parts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">FPV System</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Radios & Receiver</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Battery & Charger</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Connector & Cable & Wire</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Tools & Bags & Storage</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Helicopter Parts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Quadcopter Parts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Airplane Parts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Car Parts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">RC Boat Parts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Learning & Education</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Developmental Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Board Game Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Paper Art & Drawing</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Jigsaw & Puzzle Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Plane & Parachute Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Science & Discovery Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Pottery Clay & Tools</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html" class="dir-list-main">Dolls & Stuffed Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Squishy Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Doll House & Miniature</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Dolls & Action Figure</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Stuffed & Plush Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Other Stuffed Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html" class="dir-list-main">Model & Building Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Track Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Blocks Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Model Building</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Diecasts & Model Toys</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v3-sub-sub-category.html" class="dir-list-main">Musical Instruments</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Guitar</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Guitar Parts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Brass & Woodwind</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Wind Instrument Parts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Violin</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Violin Parts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Ocarina</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Harmonica</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Keyboards & Piano</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Drums & Percussion</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Pro Audio Equipment</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Pro Audio Equipment Parts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Music Box</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Education Musical Instruments</a>
                            </li>
                            <li>
                                <a class="dir-list-main">Solar Energy</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Solar Powered Toy</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Solar Powered System</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">RC Robot</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Robot Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Robot Arm & Tank</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Smart Robot Car</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Robot Parts & Tools</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">DIY Education Robot</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Gadget Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Novelties</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Stress Relievers</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Magic & Trick Props</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Accessories for Nerf</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Classic & Retro Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Wind-up & Tin Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Yoyo & Gyro Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Inflatable Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Magnetic Toys</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Beach Play</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Toys Hobbies & Robots /- -->
            <!-- Mobiles & Tablets Directory Wrapper  -->
            <div class="directory-wrapper">
                <h2>
                    <a>Mobiles & Tablets</a>
                </h2>
                <div class="dir-sub-wrapper">
                    <div class="dir-sub-heading">
                        <a>Smart Phones</a>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <ul class="dir-list-wrap">
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Samsung</a>
                                </li>
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Xiaomi</a>
                                </li>
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Huawei</a>
                                </li>
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Honor</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <ul class="dir-list-wrap">
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Infinix</a>
                                </li>
                                <li>
                                    <a href="shop-v4-filter-as-category.html">OnePlus</a>
                                </li>
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Lenovo</a>
                                </li>
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Apple</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <ul class="dir-list-wrap">
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Google</a>
                                </li>
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Moto</a>
                                </li>
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Oppo</a>
                                </li>
                                <li>
                                    <a href="shop-v4-filter-as-category.html">Microsoft</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dir-remain-categories">
                    <div class="dir-remain-heading">Other Categories</div>
                    <ul class="dir-list-wrap">
                        <li>
                            <a href="shop-v3-sub-sub-category.html">Tablets</a>
                        </li>
                        <li>
                            <a href="shop-v3-sub-sub-category.html">Smart Watches</a>
                        </li>
                        <li>
                            <a href="shop-v3-sub-sub-category.html">Device Accessories</a>
                        </li>
                        <li>
                            <a href="shop-v3-sub-sub-category.html">Power Banks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mobiles & Tablets Directory Wrapper /- -->
            <!-- Consumer Electronics Directory Wrapper  -->
            <div class="directory-wrapper">
                <h2>
                    <a>Consumer Electronics</a>
                </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Laptops</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Notebooks</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Macbooks</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Refurbished Laptops</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Tablet PCs</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Mini & Netbooks</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">PC & Accessories</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Batteries & Chargers</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Internal Hard Drives</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Adapters</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Graphic Card</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">TV's</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">20 - 29 inches</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">30 - 39 inches</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">40 - 49 inches</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">50 inches and more</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Camera & Camcorders</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">DSLR & Hybrid Cameras</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Compact Cameras</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Security & Surveillance</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Bundle Offers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Audio & Amplifiers</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">MP3 Players</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Headphones & Headsets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Portable Speakers</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Home Theater</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Hi-Fi & Stereo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Consumer Electronics Directory Wrapper /- -->
            <!-- Books & Audible Directory Wrapper -->
            <div class="directory-wrapper">
                <h2>
                    <a>Books & Audible</a>
                </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v1-root-category.html" class="dir-list-main">Fiction & Literature</a>
                            </li>
                            <li>
                                <a href="shop-v1-root-category.html">Fiction</a>
                            </li>
                            <li>
                                <a href="shop-v1-root-category.html">Graphic Novels & Comics</a>
                            </li>
                            <li>
                                <a href="shop-v1-root-category.html">Literature</a>
                            </li>
                            <li>
                                <a href="shop-v1-root-category.html">Manga</a>
                            </li>
                            <li>
                                <a href="shop-v1-root-category.html">Mystery & Crime</a>
                            </li>
                            <li>
                                <a href="shop-v1-root-category.html">Poetry</a>
                            </li>
                            <li>
                                <a href="shop-v1-root-category.html">Romance</a>
                            </li>
                            <li>
                                <a href="shop-v1-root-category.html">Science Fiction & Fantasy</a>
                            </li>
                            <li>
                                <a href="shop-v1-root-category.html">Thrillers</a>
                            </li>
                            <li>
                                <a href="shop-v1-root-category.html">Westerns</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Kids & Teens</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">Ages 0-2</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">Ages 3-5</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">Ages 6-8</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">Ages 9-12</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">Teens</a>
                            </li>
                            <li>
                                <a href="shop-v4-filter-as-category.html">All Kids' Books</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Nonfiction</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Activity & Game Books</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Antiques & Collectibles</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Art, Architecture & Photography</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Bibles & Christianity</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Biography</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Business Books</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Nonfiction</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Computers</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Cookbooks, Food & Wine</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Crafts & Hobbies</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Current Affairs & Politics</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Diet, Health & Fitness</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Education</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Engineering</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Foreign Languages</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Nonfiction</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">History</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Home & Garden</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Humor</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Law</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Medicine & Nursing Books</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Music, Film & Performing Arts</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Nature</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">New Age & Alternative Beliefs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Nonfiction</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Parenting & Family</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Pets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Philosophy</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Psychology</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Reference</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Religion</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Role-Playing & Fantasy Games</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Science & Technology</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Books & Audible Directory Wrapper /- -->
            <!-- Beauty & Health Directory Wrapper -->
            <div class="directory-wrapper">
                <h2>
                    <a>Beauty & Health</a>
                </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Make up</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Lips</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Face</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Eyes</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Accessories</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Skin Care</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Face Moisturizer, Creams & Lotions</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Face Wash & Scrubs</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Face Treatments</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Eye Treatments</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Face Masks & Packs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Personal Care</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Hair Removal Tools</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Massage & Relaxation</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Oral Care</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Hair Care</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Hair Styling Tools</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Hair Care Treatments</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Shampoo</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Conditioner & Deep Conditioners</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Health Care</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Medical Equipments</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Sexual Health</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">OTC's Medicines</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">Vitamins & Supplements</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Fragrances</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">For Men</a>
                            </li>
                            <li>
                                <a href="shop-v2-sub-category.html">For Women</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Beauty & Health Directory Wrapper /- -->
            <!-- Furniture Home & Office Directory Wrapper -->
            <div class="directory-wrapper">
                <h2>
                    <a>Furniture Home & Office</a>
                </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v2-sub-category.html" class="dir-list-main">Furniture</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Living Room Furniture</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Office Furniture</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Bedroom Furniture</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Kitchen & Dining Furniture</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Outdoor Furniture</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v3-sub-sub-category.html" class="dir-list-main">Bedding</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Bed Linen</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Blankets & Quilt Sets</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Home Decor</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Clocks</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Wall Art</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Candles & Candle Holders</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Picture Frames</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Curtain, Blinds & Shades</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Kitchen & Dinning</a>
                            </li>
                            <li>
                                <a>Kitchen Tools & Accessories</a>
                            </li>
                            <li>
                                <a>Tableware</a>
                            </li>
                            <li>
                                <a>Cookware</a>
                            </li>
                            <li>
                                <a>Bakeware</a>
                            </li>
                            <li>
                                <a>Grilling and BBQ Utensils</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a class="dir-list-main">Household Supplies</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Brooms, Floor Brushes & Dustpans</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Mops, Refills & Mop sets</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Sponges & Cleaning Cloths</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Pegs & Clothes Lines</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Housekeeping Dusters</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <ul class="dir-list-wrap">
                            <li>
                                <a href="shop-v3-sub-sub-category.html" class="dir-list-main">Bath</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Towels, Robes & Mats</a>
                            </li>
                            <li>
                                <a href="shop-v3-sub-sub-category.html">Bathroom Accessories</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Furniture Home & Office Directory Wrapper /- -->
        </div>
    </div>
{% endblock %}