{% extends 'base.html' %}
{% block page %}
Track Order
{% endblock %}
{% block page1 %}
Track Order
{% endblock %}
{% block content %}
<!-- Track-Order-Page -->
<div class="page-track-order u-s-p-t-80">
    <div class="container">
        <div class="track-order-wrapper">
            <h2 class="track-order-h2 u-s-m-b-20 text-center">Track Your Order</h2>
            <h6 class="track-order-h6 u-s-m-b-30">To track your order please enter your Order ID in the box below and
                press the "Track" button. This was given to you on your receipt and in the confirmation email you should
                have received.</h6>
            <form>
                <div class="u-s-m-b-30">
                    <label for="order-id">Order ID
                        <span class="astk">*</span>
                    </label>
                    <input type="text" id="order-id" class="text-field"
                        placeholder="Found in your order confirmation email">
                </div>
                <div class="u-s-m-b-30">
                    <label for="billing-email">Billing Email
                        <span class="astk">*</span>
                    </label>
                    <input type="text" id="billing-email" class="text-field"
                        placeholder="Email you used during checkout.">
                </div>
                <div class="u-s-m-b-30">
                    <button class="button button-outline-secondary w-100">TRACK</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Track-Order-Page /- -->
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 text-center">
            <div class="col">
                <!-- Button trigger modal
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                    data-mdb-modal-init data-mdb-target="#exampleModal1">
                    Track your order
                </button> -->

                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content text-white" style="background-color: #6d5b98; border-radius: 10px;">
                            <div class="modal-header border-bottom-0">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn-close btn-close-white" data-mdb-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-start px-4 pt-0 pb-4">
                                <div class="text-center">
                                    <h5 class="mb-3">Order Status</h5>
                                    <h5 class="mb-5">AWB Number-5335T5S</h5>
                                </div>

                                <div class="d-flex justify-content-between mb-5">
                                    <div class="text-center">
                                        <i class="fas fa-circle"></i>
                                        <p>Order placed</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="fas fa-circle"></i>
                                        <p>In Transit</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="fas fa-circle"></i>
                                        <p class="lead fw-normal">Out of Delivery</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="fas fa-circle" style="color: #979595;"></i>
                                        <p style="color: #979595;">Delivered</p>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-md-4 text-center">
                                        <p class="lead fw-normal">Shipped with</p>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <p class="lead fw-normal">UPS Expedited</p>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <i class="fas fa-phone fa-lg"></i>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-md-4 text-center">
                                        <p class="lead fw-normal">Estimated Delivery</p>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <p class="lead fw-normal">02/12/2017</p>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <i class="fas fa-envelope fa-lg"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}