{% extends 'base.html' %}
{% block page %}
Wishlist
{% endblock %}
{% block page1 %}
Wishlist
{% endblock %}
{% block content %}
<!-- Wishlist-Page -->
<div class="page-wishlist u-s-p-t-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Products-List-Wrapper -->
                <div class="table-wrapper u-s-m-b-60">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>Stock Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in w_items %}
                        
                            <form action="/del-wishlist-item/{{item.id}}/" method="post">
                                {% csrf_token %}
                                <tr>
                                    <td>
                                        <div class="cart-anchor-image">
                                            <a href="{% url 'product_detail' item.product.id %}">
                                                <img src="{{item.product.prod_img.url}}" alt="Product">
                                                <h6>{{item.product.title}}</h6>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cart-price">
                                            Ksh {{item.product.current_selling_price}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cart-stock">

                                            {% if item.product.quantity > 0 %}
                                            In
                                            {% else %}
                                            Out off
                                            {% endif %}
                                            Stock
                                        </div>
                                    </td>
                                    <td>
                                        <div class="action-wrapper">
                                            <button name="add-to-cart" class="button button-outline-secondary">Add to
                                                Cart</button>
                                            <button name="delete"
                                                class="button button-outline-secondary fas fa-trash"></button>
                                        </div>
                                    </td>
                                </tr>
                            </form>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Products-List-Wrapper /- -->
            </div>
        </div>
    </div>
</div>
<!-- Wishlist-Page /- -->
{% endblock %}